<a href="https://colab.research.google.com/github/Leandro-Oak/PYTHON/blob/master/Pandas_Udemy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
#shift + tab for more info in the function


import os
import pandas as pd

In [6]:
#os.chdir('C:/Users/leand/Desktop/Udemy - Python')

In [7]:
data = pd.read_csv("/content/Demographic.csv")

##Renaming Columns

In [8]:
data.columns = ['CountryName', 'CountryCode', 'BirthRate', 'InternetUsers',
       'IncomeGroup']

##Basic Info On the data

In [9]:
data.head(10)

            CountryName CountryCode  ...  InternetUsers          IncomeGroup
0                 Aruba         ABW  ...        78.9000          High income
1           Afghanistan         AFG  ...         5.9000           Low income
2                Angola         AGO  ...        19.1000  Upper middle income
3               Albania         ALB  ...        57.2000  Upper middle income
4  United Arab Emirates         ARE  ...        88.0000          High income
5             Argentina         ARG  ...        59.9000          High income
6               Armenia         ARM  ...        41.9000  Lower middle income
7   Antigua and Barbuda         ATG  ...        63.4000          High income
8             Australia         AUS  ...        83.0000          High income
9               Austria         AUT  ...        80.6188          High income

[10 rows x 5 columns]

In [10]:
data.tail()

          CountryName CountryCode  ...  InternetUsers          IncomeGroup
190       Yemen, Rep.         YEM  ...           20.0  Lower middle income
191      South Africa         ZAF  ...           46.5  Upper middle income
192  Congo, Dem. Rep.         COD  ...            2.2           Low income
193            Zambia         ZMB  ...           15.4  Lower middle income
194          Zimbabwe         ZWE  ...           18.5           Low income

[5 rows x 5 columns]

In [11]:
data.describe()

        BirthRate  InternetUsers
count  195.000000     195.000000
mean    21.469928      42.076471
std     10.605467      29.030788
min      7.900000       0.900000
25%     12.120500      14.520000
50%     19.680000      41.000000
75%     29.759500      66.225000
max     49.661000      96.546800

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   CountryName    195 non-null    object
 1   CountryCode    195 non-null    object
 2   BirthRate      195 non-null    float64
 3   InternetUsers  195 non-null    float64
 4   IncomeGroup    195 non-null    object
dtypes: float64(2), object(3)
memory usage: 7.7+ KB

In [13]:
data.shape

(195, 5)

In [14]:
data.dtypes

CountryName       object
CountryCode       object
BirthRate        float64
InternetUsers    float64
IncomeGroup       object
dtype: object

In [15]:
len(data)

195

In [16]:
data.columns

Index(['CountryName', 'CountryCode', 'BirthRate', 'InternetUsers',
       'IncomeGroup'],
      dtype='object')

##Filtering

In [17]:
data[(data['BirthRate']<= 49.661) & (data['CountryName'])]

              CountryName CountryCode  ...  InternetUsers          IncomeGroup
0                   Aruba         ABW  ...           78.9          High income
1             Afghanistan         AFG  ...            5.9           Low income
2                  Angola         AGO  ...           19.1  Upper middle income
3                 Albania         ALB  ...           57.2  Upper middle income
4    United Arab Emirates         ARE  ...           88.0          High income
..                    ...         ...  ...            ...                  ...
190           Yemen, Rep.         YEM  ...           20.0  Lower middle income
191          South Africa         ZAF  ...           46.5  Upper middle income
192      Congo, Dem. Rep.         COD  ...            2.2           Low income
193                Zambia         ZMB  ...           15.4  Lower middle income
194              Zimbabwe         ZWE  ...           18.5           Low income

[195 rows x 5 columns]

In [18]:
#Generate a boolean series
#that happens because Python is not vetorized language like R
data.InternetUsers<2

0      False
1      False
2      False
3      False
4      False
       ...
190    False
191    False
192    False
193    False
194    False
Name: InternetUsers, Length: 195, dtype: bool

In [19]:
filter = (data.InternetUsers<2)
data[filter] #or
data[(data.InternetUsers<2)]

      CountryName CountryCode  BirthRate  InternetUsers          IncomeGroup
11        Burundi         BDI     44.151            1.3           Low income
52        Eritrea         ERI     34.800            0.9           Low income
55       Ethiopia         ETH     32.925            1.9           Low income
64         Guinea         GIN     37.337            1.6           Low income
117       Myanmar         MMR     18.119            1.6  Lower middle income
127         Niger         NER     49.661            1.7           Low income
154  Sierra Leone         SLE     36.729            1.7           Low income
156       Somalia         SOM     43.891            1.5           Low income
172   Timor-Leste         TLS     35.755            1.1  Lower middle income

In [20]:
#Filter with two parameters
data[(data.InternetUsers<2) & (data.BirthRate>30)]

      CountryName CountryCode  BirthRate  InternetUsers          IncomeGroup
11        Burundi         BDI     44.151            1.3           Low income
52        Eritrea         ERI     34.800            0.9           Low income
55       Ethiopia         ETH     32.925            1.9           Low income
64         Guinea         GIN     37.337            1.6           Low income
127         Niger         NER     49.661            1.7           Low income
154  Sierra Leone         SLE     36.729            1.7           Low income
156       Somalia         SOM     43.891            1.5           Low income
172   Timor-Leste         TLS     35.755            1.1  Lower middle income

In [27]:
#Generate a series with filter in two columns
data[data['IncomeGroup']=='Low income'].BirthRate

1      35.253
11     44.151
13     36.440
14     40.551
29     34.076
38     34.326
52     34.800
55     32.925
64     37.337
65     42.525
66     37.503
77     25.345
93     24.462
99     35.521
111    34.686
115    44.138
120    39.705
123    39.459
127    49.661
132    20.923
148    32.689
154    36.729
156    43.891
158    37.126
167    45.745
168    36.080
177    39.518
178    43.474
192    42.394
194    35.715
Name: BirthRate, dtype: float64

##Sorting

In [22]:
data.sort_values('BirthRate')

              CountryName CountryCode  ...  InternetUsers          IncomeGroup
142              Portugal         PRT  ...        62.0956          High income
74   Hong Kong SAR, China         HKG  ...        74.2000          High income
89                  Japan         JPN  ...        89.7100          High income
68                 Greece         GRC  ...        59.8663          High income
45                Germany         DEU  ...        84.1700          High income
..                    ...         ...  ...            ...                  ...
115                  Mali         MLI  ...         3.5000           Low income
11                Burundi         BDI  ...         1.3000           Low income
167                  Chad         TCD  ...         2.3000           Low income
2                  Angola         AGO  ...        19.1000  Upper middle income
127                 Niger         NER  ...         1.7000           Low income

[195 rows x 5 columns]

In [23]:
#Sorting values in multiple columns

data.sort_values(['CountryName','InternetUsers'],ascending = (True, False))

               CountryName CountryCode  ...  InternetUsers          IncomeGroup
1              Afghanistan         AFG  ...            5.9           Low income
3                  Albania         ALB  ...           57.2  Upper middle income
49                 Algeria         DZA  ...           16.5  Upper middle income
2                   Angola         AGO  ...           19.1  Upper middle income
7      Antigua and Barbuda         ATG  ...           63.4          High income
..                     ...         ...  ...            ...                  ...
185  Virgin Islands (U.S.)         VIR  ...           45.3          High income
188     West Bank and Gaza         PSE  ...           46.6  Lower middle income
190            Yemen, Rep.         YEM  ...           20.0  Lower middle income
193                 Zambia         ZMB  ...           15.4  Lower middle income
194               Zimbabwe         ZWE  ...           18.5           Low income

[195 rows x 5 columns]

##Grouping

In [24]:
data.groupby("Income Group")["Country Name"].count()

KeyError: ignored

In [ ]:
#Counting the values without Grouping
data['Income Group'].value_counts()

##Unique Values

In [38]:
data.IncomeGroup.unique()

array(['High income', 'Low income', 'Upper middle income',
       'Lower middle income'], dtype=object)

In [37]:
#To get unique values in a dataframe based on the columns use drop duplicates
data.drop_duplicates(subset = ['IncomeGroup'])

   CountryName CountryCode  BirthRate  InternetUsers          IncomeGroup
0        Aruba         ABW     10.244           78.9          High income
1  Afghanistan         AFG     35.253            5.9           Low income
2       Angola         AGO     45.985           19.1  Upper middle income
6      Armenia         ARM     13.308           41.9  Lower middle income

In [35]:
#To get a list of the unique categorical values in a column
#Just work for categorical values(Need to change the datatype from object to categorical)
data['IncomeGroup'].cat.categories

AttributeError: ignored

##Checking and Hadling  Nulls/NAN

In [ ]:
data.isnull().sum()

In [ ]:
# Filter the NAN values in the table
data[data.isna().any(axis=1)]

In [ ]:
#Drop rows of NAN
data.dropna(how='all')

In [ ]:
#Substitute Null or NAN for other string
data.fillna("zero", inplace=True)

##Replacing Missing values

In [ ]:
data.fillna(0)

##Slicing - Subsetting data

In [ ]:
#Subsetting by Rows

#Subsetting by rows it doent count the last number

data[21:26]
data[::-1]# reverting rows
data[1:10:2]#every 2 numbers

In [ ]:
#Subsetting by Columns

data[['CountryName', 'BirthRate']].head(5) #When there are more than one columns is a list and you need to put 2 square braquets
data.CountryName.head()#Another simple way

In [ ]:
#Subsetting by Rows and columns

data[['CountryName', 'BirthRate']][4:8]

In [ ]:
#Using ILOC

data.iloc[[1,5],[1,3]]

##Adding Columns and Mathematical operations

In [ ]:
#Mathematical Operations


#Same works for / + - and others
result = data.BirthRate * data.InternetUsers
result

In [ ]:
#add columns

data['Total'] = data.BirthRate * data.InternetUsers
data

##Dropping Columns

In [ ]:
data.drop('Total',axis=1, inplace=True)#shift + tab for more info in the function

##Conditional Change

In [ ]:
da = data.loc[(data['InternetUsers']>50), ['CountryName']] == "Garbage"
data[da]

##Plotting on Pandas

In [ ]:
data.plot.scatter(x='InternetUsers',y='BirthRate')

In [ ]:
data[['IncomeGroup',  'BirthRate', 'InternetUsers']].sort_values('InternetUsers', ascending=False ).head(100)

In [ ]:
data1 = data[(data['BirthRate'] <= 15.00)].sort_values('BirthRate', ascending=False )

In [ ]:
data1.plot.bar(x='IncomeGroup', y='BirthRate')

##Merging (SQL JOIN)

In [ ]:
newdata = pd.merge(customers,orders, how='left', left_on=['id'], right_on=['cust_id'])

##Converting dataTypes

In [ ]:
#the dataset inf for the vizualization reference material
#it is a good practice to change object datatype to category

movies["Film"] = movies["Film"].astype("category")
movies["Genre"] = movies["Genre"].astype("category")
movies["Year"] = movies["Year"].astype("category")

##Tips and Tricks

In [ ]:
#quick way to separate numeric columns
data.describe().columns

In [ ]:
#Counting the values without Grouping
data['Income Group'].value_counts()

In [ ]:
#Displaying all rows in pandas
pd.set_option('display.max_rows', 100)

In [ ]:
#pearson : standard correlation coefficient
#kendall : Kendall Tau correlation coefficient
#spearman : Spearman rank correlation

data.corr(method='pearson')

In [ ]:
data.corr(method='kendall')

In [ ]:
data.corr(method='spearman')

In [ ]:
#Calculating Z-Score

data['std'] = [ (x - data.BirthRate.mean())/ data.BirthRate.std() for x in data['BirthRate']]